.card {
	position: relative;
	width: 21.3rem;
	height: 21.3rem;
	border-radius: 0.63rem;
	overflow: hidden;
	cursor: pointer;

	h2 {
		width: 65%;
		margin: 0;
		color: white;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 500;

		position: absolute;
		bottom: 1.25rem;
		left: 1.25rem;
	}

	.img-container:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 21.3rem;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.5) 100%
		);
	}

	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media (max-width: 768px) {
		width: calc(100vw - 3rem);
		height: 16rem;
		margin: 0;
	}
}
