.error {
	padding: 8.69rem 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 8.69rem;

	h1 {
		margin: 0;
		font-size: 18rem;
		font-style: normal;
		font-weight: 700;
		line-height: 75%;
	}

	h2 {
		margin: 0;
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 500;
	}

	a {
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 500;
	}
}
