@import "_variables.scss";

.header {
	height: 4.25rem;
	width: 77.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2.8rem 0 3.2rem 0;

	svg {
		width: auto;
		height: 100%;
		path {
			fill: $main-color;
		}
	}

	a {
		margin: 0 0 0 3.56rem;
		font-size: 1.5rem;
		font-weight: 500;
		font-style: normal;
	}

	@media (max-width: 768px) {
		box-sizing: border-box;
		width: 100%;
		margin: 1.25rem 0 1.69rem 0;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		svg {
			width: 9rem;
			height: 2.9rem;
		}

		a {
			margin: 0 0 0 1.62rem;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}
}
