.home {
	@media (max-width: 768px) {
		box-sizing: border-box;
		width: 100%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.card-container {
	margin: 6.19rem 0 5.81rem 0;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	align-items: center;
	gap: 3.75rem;

	@media (max-width: 768px) {
    grid-template-columns: auto;
    margin: 1.38rem 0 1.69rem 0;
    gap: 1.25rem;
	}
}
