.home {
  width: 77.5rem;
}

.card-container {
  margin: 6.19rem 0 5.81rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
}