@import "_variables.scss";

.content {
	display: flex;
	justify-content: space-between;

	.title {
		margin: 1.87rem 0 0 0;
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 500;
	}

	.date {
		margin: 0.25rem 0 1.75rem 0;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 500;
	}

	.tag-container {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8rem;
		margin: 0 0 1.5rem 0;

		.tag {
			box-sizing: border-box;
			min-width: 7.1875rem;
			padding: 0.4rem 1.2rem;
			border-radius: 0.63rem;
			margin: 0;
			background-color: $main-color;
			color: white;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			text-align: center;
		}
	}

	.right-side {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 1.31rem;

		.host-container {
			display: flex;
			align-items: center;
			margin-top: 1.5rem;

			h2 {
				width: 7rem;
				margin: 0 0.62rem;
				text-align: end;
			}

			img {
				width: 4rem;
				height: 4rem;
				border-radius: 2rem;
			}
		}
	}
}

.dropdown-menu-container {
	width: 77.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 3.13rem;
	column-gap: 4.5rem;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0.4rem 0;
		}
	}
}

@media (max-width: 768px) {
	.page {
		box-sizing: border-box;
		width: 100%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		.content {
			flex-direction: column;

			.left-side {
				width: 100%;

				.title {
					margin-top: 1rem;
					font-size: 1.125rem;
				}

				.date {
					margin-bottom: 0;
					font-size: 0.875rem;
				}

				.tag-container {
					margin: 0.62rem 0 1.03rem 0;

					.tag {
						min-width: 5.25rem;
						padding: 0.4rem 1.2rem;
						font-size: 0.625rem;
					}
				}
			}

			.right-side {
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-between;

				.host-container {
					margin-top: 0;

					h2 {
						font-size: 0.75rem;
						width: 3rem;
						margin: 0 0.66rem;
					}
					img {
						width: 2rem;
						height: 2rem;
						border-radius: 1rem;
					}
				}

				svg {
					width: 6.125rem;
					height: 1.125rem;
				}
			}
		}

		.dropdown-menu-container {
			width: 100%;
			flex-direction: column;
			gap: 1.25rem;
			margin: 0.84rem 0 1.69rem 0;
		}
	}
}
